{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },

  "extends": "fortech-react",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": 0
  }
}
