@function mq($mq-value) {
  @return map-get($mq, $mq-value);
}

@function color($color-name) {
  @return map-get($colors, inspect($color-name));
}

// @mixin sprite-retina() {
//   @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     background-image: url($base_img+'/sprite@2x.png') !important;
//     background-size: $spritesheet-width $spritesheet-height !important;
//   }
// }

@mixin hide() {
  opacity: 0;
  visibility: hidden;
}

@mixin show() {
  opacity: 1;
  visibility: visible;
}
