// images
$base_img: '../img';
$base_fonts: '../fonts';

// fonts
$Arial: 'Arial';

// colors
$colors: (
  'white': #fff,
  'black': #000,
  'gray-light': #f1f1f1
);

// media queries
$mq: (
  'mobile': 639px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-small': 1280px,
  'desktop-medium': 1440px,
  'desktop-big': 1680px,
  'desktop-large': 1920px
);
